/* .book {

    font-size: 22px;
    margin-bottom: 20px;
}

.book.low-rated {
    color: red;
}

.books-list {
    border: 1px solid black;
} */

.counter {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.result {
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.buttons {
    display: flex;
    gap: 4px;
}

.increment {
    width: 100px;
}
.decrement {
    width: 100px;
}